/* propiedades del menú*/
header{
    div{
        nav{
            background-color: $color-2;
            div{
                div{
                    ul{
                        li{
                            .page-active{/*propiedades del menú-html activo*/
                                color: $color-3;
                                &:hover{
                                    color: $color-3;
                                }
                            }
                            .mouse{
                                &:hover{
                                    background-color: $color-1;
                                }
                                &:active{
                                    background-color: $color-3;
                                }
                            }
                        }
                    }
                }
            }
        }
        div{
            a{
                .imagen-logo{
                    width: 80%;
                }
            }
        }
    }
}