body{
    font-family: "Montserrat", sans-serif;
    background-color: #E2DAD6;
    main{
        .main-efemerides{
            .div-calendario{
                h2{
                    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
                }
                .descripcion-efemerides{
                    font-style: oblique;
                    font-size: small;
                }
            }
        }
    }
    /* fuente solo para titulos tablas de campos formativos */
    .main-campos{
        .div-tablas-campos{
            div h3, p{
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
            }
        }
    }
}
